Repository oUF-wow/oUF, pull requests merged in 2018-09, with the labels that each got.

#454 phaseindicator: Show the indicator only for online players
  elements/phaseindicator.lua
Labels: bug, element

#451 auras: prevent cooldown spiral from darkening count
  elements/auras.lua
Labels: element, feature

#460 Use custom UnitExists method
  elements/readycheckindicator.lua
  elements/tags.lua
  elements/threatindicator.lua
  oUF.xml
  ouf.lua
  private.lua
Labels: core, element

#462 core: Remove UpdateAllElements call from DisableElement
  ouf.lua
Labels: core

#463 core: Remove remaining old vehicle hack code
  ouf.lua
Labels: core
