Repository oUF-wow/oUF, pull requests merged in 2018-08, with the labels that each got.

#445 phaseindicator: Add war mode support
  elements/phaseindicator.lua
Labels: element, feature

#446 phaseindicator: Fix logic
  elements/phaseindicator.lua
Labels: bug

#450 additionalpower: Add option to override the display pairs table
  elements/additionalpower.lua
Labels: element, feature

#443 Add the tag [runes] to display the amount of runes (player only)
  elements/tags.lua
Labels: awaiting feedback, element, feature
