Repository oUF-wow/oUF, pull requests merged in 2019-03, with the labels that each got.

#483 core: Update the event system
  events.lua
  ouf.lua
Labels: bug, core, testing required

#482 [8.1.5] Add PvPClassificationIndicator element
  elements/pvpclassificationindicator.lua
  oUF.xml
Labels: element, feature, testing required

#486 threatindicator: Use a better default texture
  elements/threatindicator.lua
Labels: element

#484 [8.1.5] Add .colorSelection option to health and power elements
  colors.lua
  elements/health.lua
  elements/power.lua
  private.lua
Labels: element, feature

#487 core: Use _initialAttribute-* to set attributes
  oUF.xml
  ouf.lua
Labels: core

#491 core: Greatly reduced the number of UAE calls for the nameplates
  ouf.lua
Labels: core

#492 core: Prevent the nameplate driver from being initialised multiple times
  ouf.lua
Labels: core

#489 elements: do not toggle visibility on enable where it is part of the update process
  elements/alternativepower.lua
  elements/castbar.lua
  elements/stagger.lua
Labels: bug, element

#493 powerprediction: Fixed a typo
  elements/powerprediction.lua
Labels: bug, element

#494 runes: Fixed sorting
  elements/runes.lua
Labels: bug, element, next major
