Repository oUF-wow/oUF, pull requests merged in 2020-09, with the labels that each got.

#538 classpower: make holy power available in all specs
  elements/classpower.lua
Labels: element, expansion

#539 runes: fix for death knights without specialization in Shadowlands
  elements/runes.lua
Labels: element, expansion

#536 tags: Update tag syntax
  elements/tags.lua
Labels: element, expansion, feature, next major

#480 castbar: Element revamp
  elements/castbar.lua
Labels: element, expansion, feature, next major

#517 Remove UNIT_HEALTH_FREQUENT event
  elements/health.lua
  elements/healthprediction.lua
Labels: blizzard bug, bug, element, next major

#537 alternativepower: replace deprecated UnitAlternatePowerInfo
  elements/alternativepower.lua
Labels: element, next major
