Repository oUF-wow/oUF, pull requests merged in 2020-10, with the labels that each got.

#543 additionalpower: fix documentation
  elements/additionalpower.lua
Labels: element

#555 stagger: hide the element in Enable
  elements/stagger.lua
Labels: bug, element

#532 Replace Travis with GitHub Actions
  .github/workflows/release.yml
  .travis.yml
Labels: tooling

#559 alternativepower: remove the realUnit check from the visibility condition
  elements/alternativepower.lua
Labels: bug, element

#560 phaseindicator: Pass phaseReason to PostUpdate
  elements/phaseindicator.lua
Labels: element, feature

#561 Update power prediction
  elements/powerprediction.lua
Labels: bug, element, feature

#562 phaseindicator: Check phase only for player units
  elements/phaseindicator.lua
Labels: bug, element
