Repository oUF-wow/oUF, pull requests merged in 2020-11, with the labels that each got.

#558 Add issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: meta

#563 Event wrapper
  elements/tags.lua
  events.lua
  private.lua
Labels: core

#566 tags: Untag fontstrings correctly
  elements/tags.lua
Labels: bug, element

#567 tags: Fix typo
  elements/tags.lua
Labels: bug, element

#568 classpower: Hardcode powerType for UPPC
  elements/classpower.lua
Labels: bug, element

#569 Update Interface version
  oUF.toc
Labels: meta
