Repository oUF-wow/oUF, pull requests merged in 2023-07, with the labels that each got.

#647 additionalpower: Update vars
  elements/additionalpower.lua
Labels: element

#652 readycheckindicator: Hardcode icon textures
  elements/readycheckindicator.lua
Labels: element, bug

#653 blizzard: Hide the new compact arena frames
  .luacheckrc
  blizzard.lua
Labels: core, bug

#654 castbar: Improve empowered cast handling
  elements/castbar.lua
Labels: element
